@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');


*{
    box-sizing: border-box;

}
body{
    font-family: 'Chakra Petch';
    display: flex;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.bg{
    background: url('ts_quotes_blurry_image.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-attachment: fixed;
    background-size: 100% 100%;
    z-index: -1;
    filter: blur(30px);
}

.loading-text{
    font-size:50px;
    color: black;
}